{% extends 'main/base.html' %}
{% load list_tags %}

{% block content %}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <div class="row w-100">
                    <div class="col-6">
                        <h5 class="card-title">Listagem de {{ pagetitle }}</h5>
                        <p> {{ pagedescription }}<p>
                    </div>
                    {% if request.user|has_perm:"college.add_collegeclass" %}
                        <div class="col-6 mt-3">
                            <a href="{% url 'panel_collegeclass_create' %}" class="btn btn-primary float-end">Adicionar Novo</a>
                        </div>
                    {% endif %}

                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>
                                Nome
                            </th>
                            <th>Departamento</th>
                            <th>Data De Início</th>
                            <th>Data De Fim</th>
                            <th data-sortable="false"  style="width: 250px">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in classes %}
                            <tr data-pk="{{obj.pk}}">
                                <td class="text-center"><a href="{% url 'panel_collegeclass_update' pk=obj.pk %}">{{ obj.pk }}</a></td>
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.department }}</td>
                                <td>{{ obj.start_date|date:"d/m/Y" }}</td>
                                <td>{{ obj.end_date|date:"d/m/Y" }}</td>
                                <td syle="">
                                    {% if request.user|has_perm:"college.change_collegeclass" %}
                                        <a href="{% url 'panel_collegeclass_update' pk=obj.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                    {% endif %}
                                    {% if request.user|has_perm:"college.delete_collegeclass" %}
                                        <a href="#" onclick="confirmDelete({{obj.pk}})" class="btn btn-danger btn-sm">Excluir</a>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        </div>
    </div>
    </section>
{% endblock %}

{% block javascripts %}
    {% if request.user|has_perm:"college.delete_collegeclass" %}
    <script>
        function confirmDelete(pk) {
            if (confirm("Deseja realmente remover este departamento?")) {
                fetch("/class/delete/" + pk + "/", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                })
                .then(response => {
                    const row = document.querySelector(`tr[data-pk="${pk}"]`);
                    if (row) {
                        row.remove();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
    {% endif %}
{% endblock %}