{% extends 'main/base.html' %}

{% block content %}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <div class="row w-100">
                    <div class="col-6">
                        <h5 class="card-title">Listagem de {{ pagetitle }}</h5>
                        <p> {{ pagedescription }}<p>
                    </div>
                    <div class="col-6 mt-3">
                        <a href="{% url 'panel_contract_create' %}" class="btn btn-primary float-end">Adicionar Novo</a>
                    </div>

                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>
                                Estágio
                            </th>
                            <th>Empresa</th>
                            <th>Contrato</th>
                            <th>Assinaturas</th>
                            <th>Situação</th>
                            <th data-sortable="false">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in contracts %}
                            <tr data-pk="{{obj.pk}}">
                                <td class="text-center"><a href="{% url 'panel_contract_update' pk=obj.pk %}">{{ obj.pk }}</a></td>
                                <td>{{ obj.internship }}</td>
                                <td>{{ obj.internship.company }}</td>
                                <td><a href="{{obj.contract_pdf.url}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Visualizar</a>
                                </td> 
                                <td>{{ obj.get_signatures|safe }}</td>
                                <td>{% if obj.is_approved %}Ativo{% else %}Pendente{% endif %}</td>
                                <td >
                                    {% if obj not in signed_contracts %}
                                        <a href="#" id="signature-btn-{{obj.pk}}" onclick="onSendSignatureContract({{obj.pk}})" class="btn btn-success btn-sm">Assinar</a>
                                    {% endif %}
                                    {% if request.user.is_superuser or request.user.is_staff %}
                                        <a href="{% url 'panel_contract_update' pk=obj.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="#" onclick="confirmDelete({{obj.pk}})" class="btn btn-danger btn-sm">Excluir</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        </div>
    </div>
</section>
<div class="modal fade" id="signatureModal" tabindex="-1" aria-labelledby="signatureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="signatureModalLabel">Assinar Contrato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="signatureForm">
            <div class="mb-3">
                <label for="signaturepassword" class="form-label">Digite sua senha para assinar o contrato:</label>
                <input type="password" class="form-control" id="signaturepassword" required>
            </div>
            <input type="hidden" id="contractId">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="confirmSignature">Confirmar</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        function confirmDelete(pk) {
            if (confirm("Deseja realmente remover este contrato?")) {
                fetch("/internship/delete/" + pk + "/", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                })
                .then(response => {
                    const row = document.querySelector(`tr[data-pk="${pk}"]`);
                    if (row) {
                        row.remove();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
    <script>
        function onSendSignatureContract(pk) {
            $('#contractId').val(pk);
            $('#signatureModal').modal('show');
        }
        $('#confirmSignature').click(function() {
            var pk = $('#contractId').val();
            var password = $('#signaturepassword').val();

            if (password) {
                $.ajax({
                    url: "/dx/contract/signature/create/" + pk + "/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        password: password
                    },
                    success: function(response) {
                        const btn = $('#signature-btn-' + pk);
                        if (btn) {
                            btn.replaceWith('<a href="#" class="btn btn-primary btn-sm disabled">Assinado</a>');
                        }
                        $('#signatureModal').modal('hide');
                        $('#signaturepassword').val("");
                    },
                    error: function(error) {
                        showToast(error.responseJSON.message, "danger");
                        $('#signatureModal').modal('hide');
                        $('#signaturepassword').val("");
                    }
                });
            } else {
                alert('Por favor, digite sua senha.');
            }
        });
    </script>
{% endblock %}