{% extends 'main/base.html' %}
{% load list_tags %}

{% block content %}
<section class="section">
    <div class="row">
        <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <div class="row w-100">
                    <div class="col-6">
                        <h5 class="card-title">Listagem de {{ pagetitle }}</h5>
                        <p> {{ pagedescription }}<p>
                    </div>
                    {% if request.user|has_perm:"users.add_usercustom" %}
                        <div class="col-6 mt-3">
                            <a href="{% url 'panel_user_create' %}" class="btn btn-primary float-end">Adicionar Novo</a>
                        </div>
                    {% endif %}

                <table class="table datatable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome Completo</th>
                            <th>Tipo</th>
                            <th>Email</th>
                            <th>Contato</th>
                            <th data-sortable="false"  style="width: 250px">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr data-pk="{{user.pk}}">
                                <td class="text-center"><a href="{% url 'panel_user_update' pk=user.pk %}">{{ user.pk }}</a></td>
                                <td>{{ user.first_name }} {{ user.last_name }} {% if user.type == "student" %} {{ user.ra }} {% endif %}</td>
                                <td>{{ user.get_type_display }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.contact }}</td>
                                <td syle="">
                                    <a href="#" onclick="getUserData({{user.pk}})" class="btn btn-primary btn-sm">Visualizar</a>
                                    {% if request.user|has_perm:"users.change_usercustom"  %}
                                        <a href="{% url 'panel_user_update' pk=user.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                    {% endif %}
                                    {% if request.user|has_perm:"users.delete_usercustom" %}
                                        <a href="#" onclick="confirmDelete({{user.pk}})" class="btn btn-danger btn-sm">Excluir</a>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        </div>
    </div>
    </section>
{% endblock %}

{% block javascripts %}
    {% if request.user|has_perm:"users.delete_usercustom" %}
    <script>
        function confirmDelete(pk) {
            if (confirm("Deseja realmente remover este usuário?")) {
                fetch("/user/delete/" + pk + "/", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                })
                .then(response => {
                    const row = document.querySelector(`tr[data-pk="${pk}"]`);
                    if (row) {
                        row.remove();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>
    {% endif %}
{% endblock %}