{% extends 'main/base.html' %}
{% load bootstrap %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12 col-md-9 col-lg-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Contratos</h5>
                <div class="form-group">
                    {{form.internship|bootstrap}}
                </div>
                <div class="form-group mt-3">
                    {{form.contract_pdf|bootstrap}}
                </div>

                <div class="form-group mb-3 mt-3">
                    <div class="row">
                        <div class="col">
                            <a href="{{segment_link}}" class="btn btn-secondary w-100">Cancelar</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% for field in form %}
    {% if field.errors %}
    <script>
        document.getElementById('{{ field.id_for_label }}').classList.add('is-invalid');
    </script>
    {% endif %}
{% endfor %}
{% endblock %}